@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap");

:root {
  --padding: 20px;
  --label-padding: 10px 30px 10px 15px;
  --border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}
span {
  pointer-events: none;
}
div {
  pointer-events: none;
}
.main-container {
  min-width: 100vw;
  background-color: aqua;
  height: 100vh;
  padding: var(--padding);
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.main-text {
  text-align: center;
}

.main-feature {
  min-height: 80%;
  width: 100%;
  background-color: aliceblue;
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
}

.btn-currency,
.btn-chart {
  flex-grow: 1;
  border: none;
  outline: none;
  height: 100%;
  background-color: aliceblue;
  pointer-events: all;
}

.btn-currency {
  border-radius: 20px 0px 0px 0px;
}
.btn-chart {
  border-radius: 0px 20px 0px 0px;
}
.currencies {
  min-width: 100%;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  gap: 20px;
}
.input-selected {
  width: 100%;
  display: block;
  padding: var(--padding);
  border: 1px solid #ccc;
}
.switch-currencies {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
}

.switch-currencies > * {
  pointer-events: none;
}

.currency-exchange {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}

.select-main {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  background-color: aquamarine;
}

.option {
  padding: var(--padding);
  background-color: red;
  display: flex;
  gap: 20px;
  pointer-events: all;
}

.option-selected {
  padding: var(--padding);
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

.change-currency {
  width: 100%;
  border: 1px solid #ccc;
  background-color: white;
  padding: var(--padding);
}

.currency-result {
  width: 100%;
  align-self: flex-start;
}
